.App {
  text-align: center;
}

.App-header {
  background-color: rgb(47, 45, 43);
  opacity: 0.95;
  height: 100px;
  padding: 10px 20px 60px 20px;
  margin-bottom: 14px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: 1.0em;
}

.Body {
  padding: 0 20px 20px 20px;
  color: black;
}

.hikes-container .hikes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.hikes-container .hike {
  background-color: rgba(255,255,255,0.6);
}

.hikes-show-container, .home-container, .new-hike-container, .update-hike-container, .no-search-match, .error-container {
  background-color: rgba(255,255,255,0.6);
  padding: 10px 0;
  margin-top: 20px;
}

.hikes-show-container h3 a {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.editButton, .deleteButton {
  display: inline-block;
  border: 1px solid black;
  box-shadow: 1px 2px 5px rgb(47, 45, 43);
  background-color: rgba(255,255,255,0.4);
  color: black;
  font-size: 0.90em;
  padding: 3px 7px;
  margin: 0px 7px 10px 7px;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}

.editButton:hover, .deleteButton:hover, .nav-link:hover {
  box-shadow: 1.5px 2.5px 2px rgb(47, 45, 43);
}

a {
  color: black;
}

.filter-container, .search-container {
  background-color: rgba(255,255,255,0.6);
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

.nav-link {
  width: 100px;
  padding: 8px;
  margin: 0 6px 6px;
  background-color: white;
  text-decoration: none;
  color: black;
}

.active-nav-link {
  text-decoration: underline;
}
